# LLM
torch
transformers
datasets
sentencepiece
wandb
trl
optuna
torchtyping

# Jupyter
ipykernel
ipywidgets
pyrefly
nbconvert

# Compute
numpy

# Visualization
matplotlib
seaborn
graphviz
plotly
anytree

# GPU
gpustat

# MTEB
mteb

# Data
recordlinkage

# General
deprecated
