# LLM
torch
transformers
datasets
sentencepiece
wandb
trl
optuna

# Jupyter
ipykernel
ipywidgets
pyrefly

# Compute
numpy

# Visualization
matplotlib
seaborn
graphviz
plotly
anytree

# GPU
gpustat

# MTEB
mteb

# Data
recordlinkage
